

.imgouter{
  background-color:  #f5f5f5;;
  text-align: center;
}

.bodydet{
  display: flex;
  flex-direction: row;
  color:"lightgrey"
}

.bodydeticon{
  font-size: 18px;
  color:"lightgrey";
  
}
.ant-form{
  margin:3px;
}
.ant-form-item{
  margin-Bottom:30px;
}
